body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

@media screen and (max-width: 600px) {
  .card-image img{
    display: none !important;
  }

}
